In [1]:
import json
import pickle
import joblib
import pandas as pd
import numpy as np

In [2]:
# load file

# Modelling
with open('model.pkl', 'rb') as file_1:
    model = pickle.load(file_1)


# Pre-processing

with open('pipeline.pkl', 'rb') as file_2:
    num_pipeline = pickle.load(file_2)
    
    
# List Numeric & Category
with open('num_cols.txt', 'r') as file_3:
    num_cols = json.load(file_3)

with open('cat_cols.txt', 'r') as file_4:
    cat_cols = json.load (file_4)

C:\Users\maddi\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator LinearRegression from version 1.2.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\maddi\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator MinMaxScaler from version 1.2.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\maddi\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator Pipeline from version 1.2.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

# 10. Model Inferences

In [3]:
df_inferences = pd.read_csv('ParisHousing.csv')

In [4]:
# set numpy option
np.set_printoptions(suppress=True)

# set view in pandas
pd.set_option('display.float_format', '{:.2f}'.format)

In [5]:
df_inferences = df_inferences.head(10)

In [6]:
df_prediksi = df_inferences.head(10)

In [7]:
df_clean = df_inferences.drop(['price','cityCode' ,'made'], axis=1)

In [8]:
num_cols

['squareMeters',
 'numberOfRooms',
 'floors',
 'cityPartRange',
 'numPrevOwners',
 'basement',
 'attic',
 'garage',
 'hasGuestRoom']

In [9]:
df_clean[num_cols]

,squareMeters,numberOfRooms,floors,cityPartRange,numPrevOwners,basement,attic,garage,hasGuestRoom
0,75523,3,63,3,8,4313,9005,956,7
1,80771,39,98,8,6,3653,2436,128,2
2,55712,58,19,6,8,2937,8852,135,9
3,32316,47,6,10,4,659,7141,359,3
4,70429,19,90,3,7,8435,2429,292,4
5,39223,36,17,8,6,2009,4552,757,1
6,58682,10,99,10,9,5930,9453,848,5
7,86929,100,11,3,4,6326,4748,654,10
8,51522,3,61,8,3,632,5792,807,5
9,39686,42,15,5,8,5198,5342,591,3

In [10]:
df_inferences=num_pipeline.transform(df_clean[num_cols])

In [11]:
df_inferences = pd.DataFrame(df_inferences , columns=num_cols)

In [12]:
df_final = pd.concat([df_inferences,df_clean[cat_cols]], axis=1)

In [13]:
df_final

,squareMeters,numberOfRooms,floors,cityPartRange,numPrevOwners,basement,attic,garage,hasGuestRoom,hasYard,hasPool,isNewBuilt,hasStormProtector,hasStorageRoom
0,0.76,0.02,0.63,0.22,0.78,0.43,0.90,0.95,0.70,0,1,0,1,0
1,0.81,0.38,0.98,0.78,0.56,0.37,0.24,0.03,0.20,1,1,1,0,1
2,0.56,0.58,0.18,0.56,0.78,0.29,0.89,0.04,0.90,0,1,0,0,1
3,0.32,0.46,0.05,1.00,0.33,0.07,0.71,0.29,0.30,0,0,0,1,0
4,0.70,0.18,0.90,0.22,0.67,0.84,0.24,0.21,0.40,1,1,1,0,1
5,0.39,0.35,0.16,0.78,0.56,0.20,0.46,0.73,0.10,0,1,0,1,0
6,0.59,0.09,0.99,1.00,0.89,0.59,0.95,0.83,0.50,1,1,1,1,0
7,0.87,1.00,0.10,0.22,0.33,0.63,0.47,0.62,1.00,1,0,1,0,0
8,0.52,0.02,0.61,0.78,0.22,0.06,0.58,0.79,0.50,0,0,1,1,1
9,0.40,0.41,0.14,0.44,0.78,0.52,0.53,0.55,0.30,0,0,1,1,1

In [14]:
df_final =df_final.loc[:,['squareMeters','hasYard','hasPool','isNewBuilt','hasStormProtector','hasStorageRoom']]

In [15]:
y_pred = model.predict(df_final)

In [17]:
y_pred_inf = pd.DataFrame(y_pred, columns=['prediction'])

In [18]:
y_pred_inf

   prediction
0  7558647.62
1  8086573.88
2  5577541.55
3  3234940.32
4  7052374.05
5  3928648.20
6  5877680.63
7  8699303.64
8  5155737.09
9  3972137.28

In [19]:
df_inf_prediksi = pd.concat([df_prediksi,y_pred_inf] , axis=1)

In [20]:
df_inf_prediksi

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,prediction
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.50,7558647.62
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.50,8086573.88
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.10,5577541.55
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.20,3234940.32
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.00,7052374.05
5,39223,36,0,1,17,39489,8,6,2012,0,1,2009,4552,757,0,1,3926647.20,3928648.20
6,58682,10,1,1,99,6450,10,9,1995,1,1,5930,9453,848,0,5,5876376.50,5877680.63
7,86929,100,1,0,11,98155,3,4,2003,1,0,6326,4748,654,0,10,8696869.30,8699303.64
8,51522,3,0,0,61,9047,8,3,2012,1,1,632,5792,807,1,5,5154055.20,5155737.09
9,39686,42,0,0,15,71019,5,8,2021,1,1,5198,5342,591,1,3,3970892.10,3972137.28

In [23]:
df_inf_prediksi['difference'] = df_inf_prediksi['price'] - df_inf_prediksi['prediction']

In [25]:
df_inf_prediksi[['price','prediction','difference']]

       price  prediction  difference
0 7559081.50  7558647.62      433.88
1 8085989.50  8086573.88     -584.38
2 5574642.10  5577541.55    -2899.45
3 3232561.20  3234940.32    -2379.12
4 7055052.00  7052374.05     2677.95
5 3926647.20  3928648.20    -2001.00
6 5876376.50  5877680.63    -1304.13
7 8696869.30  8699303.64    -2434.34
8 5154055.20  5155737.09    -1681.89
9 3970892.10  3972137.28    -1245.18

The difference is considered small from the original value.

# 12. Conclusion

## EDA

Distibution years of contruction : 
* 2010-2021  :  3485
* 1990-2000  :  3443
* 2000-2010  :  3072

In paris house that have pool : 5087 house

Cheepest house price in paris is : 10.313 euro

AVG house price in paris is : 4.993.447 euro

highest house price in paris is : 10.006.771 euro

## Model

1. The model used to predict house prices in the city of Paris is `Linear Regression` with a relatively low average error of 1,978 euros.
2. The model is classified as good-fit between train and test 
3. Linear Regression Cross-Validation Results 
* RMSE Score: [1976.27848094 1908.12140437 1841.5301183 1855.96006507 1918.89858997] 
* Means RMSE: 1900.1577317302672 
* RMSE Standard Deviation: 48.165629039447765 
4. Model is good enough to use

## Overall Analisis

* This model is good enough and answers the objectives to be achieved, namely to be used to predict house prices accurately and with a relatively low error rate.

* If the actual price of a house is around 750,000, the model will predict that it will be +- 1,978, namely 748,022 or 751,978. Prospective buyers can use this model so they can prepare a budget to buy the house.

* With this model, sellers and buyers can immediately plan their finances. For example, if someone is planning to buy a house in the future, they can use house price predictions to plan the necessary savings and financing.